.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.leaflet-zoom-animated{
    z-index:-1;
}

#map{
    position: relative;
    float: left;
}

#piechart{
    position: relative;
    float: right;
}

#pie_title{
     text-align: center;
     
}
